# ELSbot configuration file
#
#   This file does not contain passwords.  Username and password are set via environment variables, as this
#   is written to run on heroku.

# Reddit Configuration
#   version: version of the code, incriment this every time the code updates
#   operator: username of the person running the bot - i.e. you
#   user_agent: User agent reported by praw
#   subreddit: Subreddit the bot scans
#   bot_subreddit: Subreddit where users can report issues regarding your bot
#   snapshot_domains: list of domains the bot will snapshot, use 'all' for everything
[reddit]
version = 1.1
operator = your_user_name
user_agent = elsbot v%(version)s operated by %(operator)s
subreddit = your_subreddit
bot_subreddit = issue_subreddit
snapshot_domains = np.reddit.com, np.redd.it, self.%(subreddit)s

# Database configuration
#   This assumes a heroku postgres database.
#
#   record_TTL_days: number of days the bot will keep track of submissions
#                    it's processed (used in maintenance)
#   time_to_maintenance: seconds between database maintenance cycles
[database]
record_TTL_days = 60
time_to_maintenance = 3600

# Random Quotes
# Spice up your comments with this list of one-line quotes the bot will randomly select from.
[quotes]
quotes =
    The greatest thing about Facebook, is that you can quote something and totally make up the source. — **George Washington**
    The fabrication of Oscar Wilde quotes is among the noblest of endeavors. — **Oscar Wilde**
    Rumors of my wit have been greatly exaggerated. — **Mark Twain**
